.container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 500px;
    height: 400px;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
 

/* Styling for buttons */
.btn button {
  background-color: #4ECCA3;
  color: #393E46;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn button:hover {
  background-color: #232931;
  color: #4ECCA3;
}


.btn {
  text-align: center;
}


.btn::after {
  content: "";
  display: block;
  clear: both;
}
#choice{
  color: magenta;
  font-weight: bold;
  font-style: oblique;
}

  
